<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" name="engine-1.0.0" monitorInterval="30">

    <!--
        "log4j-core" : "org.apache.logging.log4j:log4j-core:2.13.3",
        "log4j-slf4j-impl" : "org.apache.logging.log4j:log4j-slf4j-impl:2.13.3",
        "slf4j-simple" : "org.slf4j:slf4j-simple:1.7.25",
    -->
    <!--
        import org.slf4j.Logger;
        import org.slf4j.LoggerFactory;
    -->

    <Properties>
        <property name="loggerPath">${sys:directory}</property>
        <property name="loggerFormation">%d{yyyy-MM-dd HH:mm:ss.SSS} %level %t %F:%L - %m%n</property>
    </Properties>


	<Loggers>
		<Root level="INFO" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DebugLog"/>
        </Root>
        <!-- exception logger -->
        <Logger name="Exception" level="info" includeLocation="true" additivity="true" >
            <AppenderRef ref="Exception"/>
        </Logger>
        <!-- hibernate logger -->
        <Logger name="org.hibernate" level="info" includeLocation="true" additivity="true">
            <AppenderRef ref="Execution_sql" />
        </Logger>
        <!-- mybatis logger -->
		<logger name="org.mybatis" level="INFO" includeLocation="true" additivity="true">
			<AppenderRef ref="Execution_sql" />
		</logger>

        <Logger name="Database" level="INFO" includeLocation="true" additivity="true" >
			<AppenderRef ref="File"/>
		</Logger>

    </Loggers>


    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
			<Filters>
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
				<!-- <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/> -->
			</Filters>
            <PatternLayout pattern="${loggerFormation}"/>
        </Console>

        <RandomAccessFile name="DebugLog" fileName="${loggerPath}/debug.log" append="false">
            <PatternLayout pattern="${loggerFormation}"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </RandomAccessFile>

        <RollingRandomAccessFile name="Exception" fileName="${loggerPath}/exception.log" filePattern="${loggerPath}/exception-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${loggerFormation}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate = "true"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${loggerPath}" maxDepth="1">
                    <IfFileName glob="exception-*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="Execution_sql" fileName="${loggerPath}/execution_sql.log" filePattern="${loggerPath}/execution_sql-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${loggerFormation}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate = "true"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${loggerPath}" maxDepth="1">
                    <IfFileName glob="execution_sql-*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
		
		<RollingRandomAccessFile name="File" fileName="${loggerPath}/${sys:loggerFile}.log" filePattern="${loggerPath}/${sys:loggerFile}-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${loggerFormation}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate = "true"/>
				<!-- <SizeBasedTriggeringPolicy size="100 M"/> -->
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${loggerPath}" maxDepth="1">
                    <IfFileName glob="{sys:loggerFile}-*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        
    </Appenders>

</Configuration>